.App {
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/gdQRvJJ.jpg)
  }
  body {
    background-image: url(../Assets/twinkling\ stars.gif);
    height: 100vh;
    width: 100vw;
    
  }

  .SplashDiv {
    background-image: url(../Assets/twinkling\ stars.gif);
  height: 100%;
  width: 100%;
  }

  .CelestialContentDiv {
    background-image: url(../Assets/twinkling\ stars.gif);
    
  }

  h1 {
    font-size: 100px;
    text-align: center;
    color: white;
  }

  .Jumbo {
    background-image: url(../Assets/twinkling\ stars.gif);
  }

  .jumbotron {
    background-image: url(../Assets/twinkling\ stars.gif);
    text-align: center;
    padding-left: 228px;
  }

  h3 {
    color: white;
  }


  
  /* .NavbarLogo {
    animation: App-logo-spin infinite 20s linear;
    height: 25vmin;
    background-image: url(../Assets/planet\ logo.png)
  } */
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .tableBody {
    background-size: cover;
    width: 20000px;
  }
  


  .CelestialTableCSS {
    padding-top: 100px;
  }

 